**/*.vc
**/*.db
**/*.db-shm
**/*.db-wal
**/*.opendb
**/*.vcxproj
**/*.filters
**/*.user
**/*.dll
**/*.idb
**/*.pdb
**/*.ilk
**/*.exe
.vs/CprogProjekt/v15/ipch/AutoPCH/57df8e21e22dc64c/GAMEENGINE.ipch
.vs/**
**.sln
x64/**
**/*.suo
**/*.log
**/*.tlog
**/*.obj
/Debug/**
/CprogProjekt/Debug/**
/CprogProjekt/x64/**
UppgiftA/**
UppgiftB/**
UppgiftC/**
UppgiftD/**
UppgiftE/**
UppgiftF/**
UppgiftG/**
UppgiftH/**
UppgiftI/**
UppgiftJ/**
UppgiftK/**
UppgiftL/**
UppgiftM/**
UppgiftN/**
F1/**
F1_ex2/**
F5_code/**
F6_code/**
F9_code/**
F13_code/**
F14_code/**
F15_code/**
F17_code/**
packages/**